.App-header {
    text-align: center;
    background: #035353;
    padding: 6px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: #000 0px 0px 10px;
}

.header-left {
    display: flex;
    gap: 15px;
}

.App-header img {
    width: 25px;
}

.App-header input[type="text"] {
    padding: 8px 16px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    outline: none;
    /* Remove the inner border on focus */
}

.App-header input[type="text"]::placeholder {
    color: #fff;
    opacity: 1;
}